$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #057170;
};

button {
  border-radius: 25px;
  border-color: white;
  color: white;
  background-color: black;
}
h1 {
  font-size: 56px;
  color: white;
  text-align: center;
  clear:left;
};

.navbar {
  background-color: #057170;
}

.navbar-right {
    display: inline;
}

#sign-out, #change-password-button {
  color:white;
}

// #signedinactions {
//   float: right;
// }

#sign-up, #sign-in {
  text-align: center;
}

.handlebars {
  clear: left;
  background-color: white;
  color: #057170;
  border: 2px solid white;
  padding: 5px;
  width: 665px;
  margin: auto;
  margin-top: 20px;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
};

p {
  text-align: center;
};

h3 {
  color: white;
  size: 20px;
  text-align: center;
}

#auth-actions {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  margin: 10px 200px;
}

#buttons {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  width: 800px;
}

#forms {
  margin: auto;
  max-width: 600px;
}

#create-event-button, #update-event-button, #delete-event-button {
  float:left;
  font-size: 16px;
  max-width: 200px;
  margin: 10px 20px;
};

#eventIndex {
clear: both;
margin: auto;
margin-left: 25%;
margin-right: 25%;
width: 50%;
font-size: 27px;
}

#message {
  margin: 10px 50px;
  color: white;
}

.event-forms {
  clear: left;
  margin: auto;
  width: 1000px;
  margin-top: 50px;
}

.event-buttons {
  margin: auto;
}
